<div id="createClassroomContainer" class="hidden" align="center">
	<form action=""  id="createClassForm" method="" class="form-horizontal">
	
	  <div class="container">
      <div class="row" >
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div ><h3>Create Classroom</h3></div>
          
          <div class="form-group">
            <div class="col-sm-4">
              <label>School Name :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" id="schoolName" disabled>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label>Classroom Name :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" id="classroomName" name="classroom_name">
            </div>
          </div>
          <div class="form-group">
          <div class="col-sm-4">
            <label>Number Of Students :</label>
          </div>
          <div class="col-sm-4">
            <input type="text" id="numberOfStudent" name="no_of_student">
          </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4"> 
              <label>Subject :</label>
            </div>
            <div class="col-sm-4">
              <select id="ddSubject" multiple="true" size="3" width="10px" name="classroom_subject">
              </select>
              <input type="hidden" id="classHidden">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <button type="button" id="btnCreateClass" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-4">
              <button type="button" id="cancel" class="btn btn-warning">Cancel</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
        </div>
     </div>
     </div>
	</form>
</div>
<div id="allClassroom" class="hidden" align="center">
    <h3>Classroom List</h3>
    <a id="createClassroom" class="btn btn-success">Add New Classroom</a></br>
   <input type="hidden" id="classHidden"></br>
   <input type="hidden" id="classHiddenSchool">
    <table border="1" id="tableClassroom" width="70%" class="table table-bordered">
    <thead>
      <tr>
        <!-- <th>
          School Name
        </th> -->
        <th>
          Classroom Name
        </th>
        <th>
           Number Of Students
        </th>
        <th>
           Subject
        </th>
         <th colspan="6" align="center">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
    <button id="home" type="button" class="btn btn-warning">Home</button>
    <button id="back" type="button" class="btn btn-default">Back</button>
</div>
 <div id="editClassroomContainer" class="hidden" align="center">
  <form action=""  id="editClassForm" method="" class="form-horizontal">
    <div class="container">
      <div class="row" >
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div ><h3>Edit Classroom</h3></div>

          <div class="form-group">
            <div class="col-sm-4">
              <label>School Name :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" id="schoolName" disabled>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label>Classroom Name :</label>
            </div>
            <div class="col-sm-4">
             <input type="text" id="classroomName" name="classroom_name">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label>Number Of Students :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" id="numberOfStudent" name="no_of_student">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4"> 
              <label>Subject :</label>
            </div>
            <div class="col-sm-4">
             <select id="ddSubject" multiple="true" size="3" width="10px" name="classroom_subject">
            </select>
            <input type="hidden" id="classHidden">
            </div>
          </div>
           <div class="form-group">
            <div class="col-sm-4">
            <button type="button" id="btnEditClass" class="btn btn-primary">Update</button>
            </div>
            <div class="col-sm-4">
            <button type="button" id="cancel" class="btn btn-warning">Cancel</button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
        </div>
        </div>
     </div>
     </div>
  </form>
</div>