<div id="createClassroomContainer" class="hidden" align="center">
	<form action=""  id="createClassForm">
	
	  <div class="container">
      <div class="row" >
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div ><h3>Create Classroom</h3></div>
          <div class="col-md-6">
            <label>School Name :</label>
          </div>
          <div class="col-md-6">
            <input type="text" id="schoolName"  >
          </div>

          <div class="col-md-6">
            <label>Classroom Name :</label>
          </div>
          <div class="col-md-6">
           <input type="text" id="classroomName"  >
          </div>

          <div class="col-md-6">
            <label>Address :</label>
          </div>
          <div class="col-md-6">
            <input type="text" id="numberOfStudent" >
          </div>

          <div class="col-md-6"> 
            <label>Subject :</label>
          </div>
          <div class="col-md-6">
           <select id="ddSubject" >
          </select>
          <input type="hidden" id="classHidden" >
          </div>

          <div class="col-md-6"> 
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
            <button type="button" id="btncreateClass" >Submit</button>
            </div>
            <div class="col-md-3">
            </div>
          </div>

        </div>
        <div class="col-md-3">
        </div>
        </div>
     </div>
     </div>
	</form>
</div>
 