<div id="subjectContainer" class="hidden" align="center">
	<form action="" method="" id="addSubjectForm">
		<h3>Add Subject</h3>
		<div>
			<input type="text" id="subjectName"  placeholder="Subject Name" name="subject_name">
		</div>
		<div>
		</div>
        <div> 
        	<button type="button" id="submitSubject" class="btn btn-primary">Save Subject</button>
        	<button type="button" id="cancel" class="btn btn-warning">Cancel</button>
        </div>
        
	</form>
</div>
<div id="allSubjectContainer" class="hidden" align="center">
  		
		<h3>Subject List</h3>
		<a id="createSubject">Add Subject</a>
		<table border="1" id="tableSubject" width="40%" class="table table-bordered">
		<thead>
			<tr>

				<th>
					Subject Name
				</th>
				 <th colspan="6">
					Actions
				</th> 
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>

		</table>
		<button type="button" id="home" class="btn btn-warning">Home</button>
		<button type="button" id="back" class="btn btn-default">Back</button>
		
	</form>
</div>
