<div id="dvSchool" class="hidden" align="center">
    <form action=""  id="dvChildSchool">
		<h1>School List</h1>
		<a id="createSchool" class="btn btn-success">Add new School</a></br>
		<a id="allSubject" class="btn btn-success">All Subjects</a>
		<table border="1" id="tableSchool" width="70%" class="table table-bordered">
		<thead>
			<tr>

				<th>
					School Name
				</th>
				<th>
					Phone Number
				</th>
				<th>
					 Address
				</th>
				<th>
					 City
				</th>
				<th>
					Zipcode
				</th>
				<th>
					State
				</th>
				 <th colspan="8">
					Actions
				</th> 
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>

		</table>
		 <button id="back" type="button" class="btn btn-default">Back</button>
	</form>
</div>
<div id="newSchoolContainer" class="hidden" align="center">

		<h3>Create New School</h3>
		<form action="" method="" id="createForm" class="form-horizontal">
		
		<div class="container">
			<div class="row" >
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="form-group">
						 <div class="col-sm-4">
								<label>School Name :</label>
							</div>
							<div class="col-sm-4">
								<input type="text" id="schoolName" name="school_name"  >
							</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
					  	<label>Phone No :</label>
					  </div>
					  <div class="col-sm-4">
	      			<input type="text" id="schoolPhoneNo"  name="school_phone" >
	        	</div>
        	</div>

        	<div class="form-group">
	        	<div class="col-sm-4">
	          	<label>Address :</label>
	          </div>
	          <div class="col-sm-4">
	          	<input type="text" id="schoolAddress"  name="school_address" >
	          </div>
          </div>

          <div class="form-group">
	          <div class="col-sm-4"> 
	        		<label>City :</label>
	        	</div>
	        	<div class="col-sm-4">
	        		<input type="text" id="schoolCity" name="school_city" >
	        	</div>
        	</div>

        	<div class="form-group">
	        	<div class="col-sm-4">
	        		<label>Zipcode :</label>
	        	</div>
	        	<div class="col-sm-4">
	        		<input type="text" id="schoolZipcode" name="school_zipcode" >
	        	</div>
        	</div>

        	<div class="form-group">
	        	<div class="col-sm-4">
	        		<label>State :</label>
	        	</div>
	        	<div class="col-sm-4">
	        		<input type="text" id="schoolState" name="school_state" >
	        		<input type="hidden" id="schoolHidden" >
	        	</div>
        	</div>

        	<div class="form-group" align="center">
        		
        		<div class="col-sm-4">
        		  <button type="submit" id="saveSchool" class="btn btn-primary">Save School</button>
        		</div>
        		<div class="col-sm-4">
        		  <button type="button" id="cancel" class="btn btn-warning">Cancel</button>
        		</div>
        	  
        	</div>

        </div>
        <div class="col-md-3">
				</div>
				</div>
     </div>
     </div>

	</form>
		
	
</div>

<div id="dvshowSchool" class="hidden" align="center">
	<div id="schoolDetails">
		<h1>School Dashboard</h1>
		
		<table border="1" id="tableShowSchool" width="60%" class="table table-bordered">
		<thead>
			<tr>

				<th>
					School Name
				</th>
				<th>
					Phone Number
				</th>
				<th>
					 Address
				</th>
				<th>
					 City
				</th>
				<th>
					Zipcode
				</th>
				<th>
					State
				</th>
				 <th colspan="8">
					Actions
				</th> 
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>

		</table>
		 <button id="home" type="button" class="btn btn-warning">Home</button>
		 <button id="back" type="button" class="btn btn-default">Back</button>

		</div>
	</div>

<div id="editSchoolContainer" class="hidden">
	<form action="" method="" id="editForm" class="form-horizontal">
		
		<div class="container">
			<div class="row" >
				<div class="col-md-3">
				</div>

				  <div class="col-md-6">
					<div ><h3>Edit School</h3></div>

					<div class="form-group">
						<div class="col-sm-4">
							<label>School Name :</label>
						</div>
						<div class="col-sm-4">
							<input type="text" id="schoolName" name="school_name"  placeholder="School Name">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4">
					  	<label>Phone No :</label>
					  </div>
					  <div class="col-sm-4">
	      			<input type="text" id="schoolPhoneNo"  name="school_phone" >
	        	</div>
        	</div>

        	<div class="form-group">
	        	<div class="col-sm-4">
	          	<label>Address :</label>
	          </div>
	          <div class="col-sm-4">
	          	<input type="text" id="schoolAddress"  name="school_address" placeholder="School Address">
	          </div>
          </div>

          <div class="form-group">
	          <div class="col-sm-4"> 
	        		<label>City :</label>
	        	</div>
	        	<div class="col-sm-4">
	        		<input type="text" id="schoolCity" name="school_city" placeholder="City">
	        	</div>
        	</div>

        	<div class="form-group">
	        	<div class="col-sm-4">
	        		<label>Zipcode :</label>
	        	</div>
	        	<div class="col-sm-4">
	        		<input type="text" id="schoolZipcode" name="school_zipcode" placeholder="Zipcode">
	        	</div>
        	</div>

        	<div class="form-group">
	        	<div class="col-sm-4">
	        		<label>State :</label>
	        	</div>
	        	<div class="col-sm-4">
	        		<input type="text" id="schoolState" name="school_state" placeholder="State">
	        		<input type="hidden" id="schoolHidden" >
	        	</div>
        	</div>

        	<div align="center" class="form-group"> 
        		
        		<div class="col-sm-4">
        		<button type="button" id="btneditSchool" class="btn btn-primary">Update School</button>
        		</div>
        		<div class="col-sm-4">
        		<button type="button" id="cancel" class="btn btn-warning">Cancel</button>
        		</div>
        	</div>

        </div>
        <div class="col-md-3">
				</div>
				</div>
     </div>
     </div>

	</form>
</div>

