<div id="dvSchool" class="hidden" align="center">
    <form action=""  id="dvChildSchool">
		<h1>School List</h1>
		<a id="createSchool">Add new School</a></br>
		<a id="allSubject">All Subjects</a>
		<table border="1" id="tableSchool" width="70%">
		<thead>
			<tr>

				<th>
					School Name
				</th>
				<th>
					Phone Number
				</th>
				<th>
					 Address
				</th>
				<th>
					 City
				</th>
				<th>
					Zipcode
				</th>
				<th>
					State
				</th>
				 <th colspan="6">
					Actions
				</th> 
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>

		</table>
		 <button id="back" type="button" >Back</button>
	</form>
</div>
<div id="newSchoolContainer" class="hidden" align="center">

		<h3>Create New School</h3>
		<form action="" method="" id="createForm">
		
		<div class="container">
			<div class="row" >
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					
					<div class="col-md-6">
						<label>School Name :</label>
					</div>
					<div class="col-md-6">
						<input type="text" id="schoolName" name="school_name"  >
					</div>

					<div class="col-md-6">
				  	<label>Phone No :</label>
				  </div>
				  <div class="col-md-6">
      			<input type="text" id="schoolPhoneNo"  name="school_phone" >
        	</div>
        	<div class="col-md-6">
          	<label>Address :</label>
          </div>
          <div class="col-md-6">
          	<input type="text" id="schoolAddress"  name="school_address" >
          </div>

          <div class="col-md-6"> 
        		<label>City :</label>
        	</div>
        	<div class="col-md-6">
        		<input type="text" id="schoolCity" name="school_city" >
        	</div>

        	<div class="col-md-6">
        		<label>Zipcode :</label>
        	</div>
        	<div class="col-md-6">
        		<input type="text" id="schoolZipcode" name="school_zipcode" >
        	</div>

        	<div class="col-md-6">
        		<label>State :</label>
        	</div>
        	<div class="col-md-6">
        		<input type="text" id="schoolState" name="school_state" >
        		<input type="hidden" id="schoolHidden" >
        	</div>

        	<div class="col-md-12" align="center"> 
        		<div class="col-md-3">
        		</div>
        		<div class="col-md-3">
        		  <button type="submit" id="saveSchool" >Save School</button>
        		</div>
        		<div class="col-md-3">
        		  <button type="button" id="cancel" >Cancel</button>
        		</div>
        	    <div class="col-md-3">
        		</div>
        	</div>

        </div>
        <div class="col-md-3">
				</div>
				</div>
     </div>
     </div>

	</form>
		
	
</div>

<div id="dvshowSchool" class="hidden" align="center">
	<div id="schoolDetails">
		<h1>School Dashboard</h1>
		
		<table border="1" id="tableShowSchool" width="60%">
		<thead>
			<tr>

				<th>
					School Name
				</th>
				<th>
					Phone Number
				</th>
				<th>
					 Address
				</th>
				<th>
					 City
				</th>
				<th>
					Zipcode
				</th>
				<th>
					State
				</th>
				 <th colspan="8">
					Actions
				</th> 
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>

		</table>
		 <button id="back" type="button" >Back</button>
		</div>
	</div>

<div id="editSchoolContainer" class="hidden">
	<form action="" method="" id="editForm">
		
		<div class="container">
			<div class="row" >
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div ><h3>Edit School</h3></div>
					<div class="col-md-6">
						<label>School Name :</label>
					</div>
					<div class="col-md-6">
						<input type="text" id="schoolName" name="school_name"  placeholder="School Name">
					</div>

					<div class="col-md-6">
				  	<label>Phone No :</label>
				  </div>
				  <div class="col-md-6">
      			<input type="text" id="schoolPhoneNo"  name="school_phone" >
        	</div>
        	<div class="col-md-6">
          	<label>Address :</label>
          </div>
          <div class="col-md-6">
          	<input type="text" id="schoolAddress"  name="school_address" placeholder="School Address">
          </div>
          <div class="col-md-6"> 
        		<label>City :</label>
        	</div>
        	<div class="col-md-6">
        		<input type="text" id="schoolCity" name="school_city" placeholder="City">
        	</div>
        	<div class="col-md-6">
        		<label>Zipcode :</label>
        	</div>
        	<div class="col-md-6">
        		<input type="text" id="schoolZipcode" name="school_zipcode" placeholder="Zipcode">
        	</div>
        	<div class="col-md-6">
        		<label>State :</label>
        	</div>
        	<div class="col-md-6">
        		<input type="text" id="schoolState" name="school_state" placeholder="State">
        		<input type="hidden" id="schoolHidden" >
        	</div>
        	<div class="col-md-6" align="center"> 
        		
        		<div class="col-md-6">
        		<button type="button" id="btneditSchool" >Update School</button>
        		</div>
        		<div class="col-md-6">
        		<button type="button" id="cancel" >Cancel</button>
        		</div>
        	</div>

        </div>
        <div class="col-md-3">
				</div>
				</div>
     </div>
     </div>

	</form>
</div>

