<div id="dvSchool" class="hidden" align="center">
	<div id="dvChildSchool">

		<h1>School List</h1>
		<a id="createSchool">Create new School</a>
		
		<table border="1" id="tableSchool" width="70%">
		<thead>
			<tr>

				<th>
					School Name
				</th>
				<th>
					Phone Number
				</th>
				<th>
					 Address
				</th>
				<th>
					 City
				</th>
				<th>
					Zipcode
				</th>
				<th>
					State
				</th>
				 <th colspan="6">
					Actions
				</th> 
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>

		</table>
	</div>
</div>
<div id="newSchoolContainer" class="hidden" align="center">
	<div>
		<h3>Create New School</h3>
		<table id="tblSchool">
			<tr>
				<td>
					School Name: 
				</td>
				<td>
					<input type="text"  id="schoolName"  >
				</td>
			</tr>
			<tr>
				<td>
					Phone No.: 
				</td>
				<td>
					<input type="text"  id="schoolPhoneno"  >
				</td>
			</tr>
			<tr>
				<td>
					Address: 
				</td>
				<td>
					<input type="text"  id="schoolAddress"  >
				</td>
			</tr>
			<tr>
				<td>
					City: 
				</td>
				<td>
					<input type="text"  id="schoolCity"  >
				</td>
			</tr>
			<tr>
				<td>
					Zipcode: 
				</td>
				<td>
					<input type="text"  id="schoolZipcode" >
				</td>
			</tr>
			<tr>
				<td>
					State: 
				</td>
				<td>
					<input type="text"  id="schoolState" >
				</td>
			</tr>
			<tr>
              <td align="center" colspan="2">
	              <button type="submit" id="saveSchool" >Save School</button>
              </td>
            </div>
			</tr>
		</table>
	</div>
</div>
<div id="dvshowSchool" class="hidden" align="center">
	<div id="schoolDetails">
		<h1>School Details</h1>
		
		<table border="1" id="tableShowSchool" width="60%">
		<thead>
			<tr>

				<th>
					School Name
				</th>
				<th>
					Phone Number
				</th>
				<th>
					 Address
				</th>
				<th>
					 City
				</th>
				<th>
					Zipcode
				</th>
				<th>
					State
				</th>
				 <th colspan="6">
					Actions
				</th> 
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>

		</table>
		</div>
	</div>
<div id="dveditSchool" class="hidden" align="center">
	<div id="editSchoolDetails">
		<h1>School Details</h1>
		
		<table border="1" id="tableEditSchool" width="60%">
		<thead>
			<tr>

				<th>
					School Name
				</th>
				<th>
					Phone Number
				</th>
				<th>
					 Address
				</th>
				<th>
					 City
				</th>
				<th>
					Zipcode
				</th>
				<th>
					State
				</th>
				
				
			</tr>
		</thead>
		<tbody>
			
		</tbody>

		</table>
		</div>
	</div>
</div>