<!DOCTYPE html>
<html>
<head>
  <title>SchoolSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="home.js"> </script>
<script type="text/javascript">
            jQuery(document).ready(function() {    
                var Home = new SS.Home();
            });
        </script>
</body>
</html>
